body {
    background: url("../img/computer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-content {
    min-height: auto !important;;
    padding-bottom: 0px !important;
}

.about-container {
    background-color: rgba(33, 33, 33, 0.95);
    border-radius: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', "sans-serif";
}