<ul class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a class="nav-link {{ profile_status }}" href="{% url 'user:profile' %}">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ settings_status }}" href="{% url 'edit_profile:edit_info' %}">Настройки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ api_keys_status }}" href="{% url 'api:keys' %}">API ключи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ favorites_status }}" href="#">Понравившиеся</a>
    </li>
</ul>