{% extends "base.html" %}
{% load static %}

{% block content %}
  {% include "users/includes/profile_nav.html" with settings_status='active' only %}
  <div class="row justify-content-between">
    {% include "edit_profile/includes/edit_nav.html" with edit_password_status='disabled' only %}
    <form action="{% url 'edit_profile:edit_password' %}" class="col-7 px-5 border-start" method="post">
      {% csrf_token %}
      <h3 class="text-center mb-4">{{ title }}</h3>
      <div class="form-floating mb-3">  
        <input type="password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
        name="old_password" id="id_old_password" placeholder="Password">
        <label for="id_old_password" class="text-secondary">Старый пароль</label>
      </div>
      {% if form.old_password.errors %}
        <div class="text-danger">{{form.old_password.errors}}</div>
      {% endif %}
      <div class="form-floating mb-3">  
        <input type="password" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
        name="new_password1" id="id_new_password1" placeholder="Password">
        <label for="id_new_password1" class="text-secondary">Новый пароль</label>
      </div>
      {% if form.new_password1.errors %}
        <div class="text-danger">{{form.new_password1.errors}}</div>
      {% endif %}
      <div class="form-floating mb-3">  
        <input type="password" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
        name="new_password2" id="id_new_password2" placeholder="Password">
        <label for="id_new_password2" class="text-secondary">Новый пароль (еще раз)</label>
      </div>
      {% if form.new_password2.errors %}
        <div class="text-danger">{{form.new_password2.errors}}</div>
      {% endif %}
      <button type="submit" class="btn btn-primary w-50 my-3">Сохранить</button>
    </form>
  </div>
{% endblock content %}